<div class="text-center container">
  <form novalidate [formGroup]="loginForm" (ngSubmit)="signIn(loginForm)">
    <img
      class="logo mb-4"
      src="https://papik.pro/uploads/posts/2022-01/thumbs/1643606419_4-papik-pro-p-logotip-wwf-4.jpg"
      alt=""
      width="110"
      height="90"
    />
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <input
      required
      formControlName="login"
      type="login"
      class="form-control form-gap"
      id="inputLogin"
      placeholder="Login"
    />
    <div id="placeholder" *ngIf="loginForm.controls.login.invalid && loginForm.controls.login.touched">
      <p *ngIf="loginForm.controls.login.errors?.required">*Required field!</p>
      <p *ngIf="loginForm.controls.login.errors?.minlength">
        *Length at least
        {{ loginForm.controls.login.errors?.minlength.requiredLength }}
        characters.
      </p>
    </div>
    <input
      required
      formControlName="password"
      type="password"
      class="form-control"
      id="inputPassword"
      placeholder="Password"
    />
    <div id="placeholder" *ngIf=" loginForm.controls.password.invalid && loginForm.controls.password.touched" >
      <p *ngIf="loginForm.controls.password.errors?.required">
        *Required field!
      </p>
      <p *ngIf="loginForm.controls.password.errors?.minlength">
        *Length at least
        {{ loginForm.controls.password.errors?.minlength.requiredLength }}
        characters.
      </p>
    </div>
    <button
      class="w-100 btn btn-lg"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Sign in
    </button>
    <p class="mt-4 mb-3 text-muted">© 2022–2027</p>
  </form>
</div>
