.container {
  max-width: 600px;
  margin-top: 10rem;
  background-color: rgb(228, 216, 216);
  opacity: 0.85;
  padding: 30px 30px 10px 30px;
  border-radius: 5%;
  box-shadow: 10px 7px 7px 0px rgba(0, 0, 0, 0.4);
}

.form-gap {
  margin-bottom: 2px;
}

input {
  margin: 0;
  height: 50px;
}

.alert {
  margin-top: 15px;
  background: rgb(150, 51, 67);
  height: 45px;
  padding: 9px;
  // opacity: 0.7;
  color: white;
  font-weight: 500;
  opacity: 1;
  transition-delay: 0s;
}

.alert:hover {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

button {
  margin-top: 40px;
  background-color: rgb(77, 3, 66);
  color: white;
}

button:hover {
  color: white;
  background-color: rgb(59, 5, 51);
}

button:disabled {
  background-color: rgb(92, 22, 82);
  color: rgb(230, 204, 226);
}

.logo {
  border-radius: 15px;
}

#placeholder {
  color: rgb(211, 15, 15);
  margin: -2em 0 0 20em;
  position: absolute;
  font-style: italic;
  font-size: 16px;
}
