.container {
  max-width: 600px;
  margin-top: 8rem;
  margin-bottom: 40px;
  background-color: rgb(228, 216, 216);
  opacity: 0.85;
  padding: 30px 30px 10px 30px;
  border-radius: 5%;
  box-shadow: 10px 7px 7px 0px rgba(0, 0, 0, 0.4);
}

.form-gap {
  margin-bottom: 2px;
}

input {
  height: 50px;
}

button {
  margin-top: 40px;
  background-color: rgb(77, 3, 66);
  color: white;
}

button:hover {
  color: white;
  background-color: rgb(59, 5, 51);
}

button:disabled {
  background-color: rgb(92, 22, 82);
  color: rgb(230, 204, 226);
}

.logo {
  border-radius: 15px;
}

#placeholder {
  color: rgb(211, 15, 15);
  margin: -2em 0 0 20em;
  position: absolute;
  font-style: italic;
  font-size: 16px;
}
