

      <form (submit)="createPost()" >

        <h1 class="h3 mb-3 text-center fw-normal">Create post</h1>
          <label for="">Category, Title and Photo</label>
          <select class="form-control mb-3" name="category" id="category">
            <option value="World">World</option>
            <option value="Technology">Technology</option>
            <option value="Design">Design</option>
            <option value="Culture">Culture</option>
            <option value="Business">Business</option>
            <option value="Opinion">Opinion</option>
            <option value="Science">Science</option>
            <option value="Health">Health</option>
            <option value="Style">Style</option>
            <option value="Travel">Travel</option>
          </select>
          <input  type="title" name="title" class="form-control" id="inputTitle" placeholder="Title">
          <label for="type">Photo</label>
          <quill-editor ></quill-editor>
        <button class="w-100 btn btn-lg" type="submit">Create</button>

      </form>






