$alert-color: rgb(211, 15, 15);
$alert-position: absolute;
$font-alert: italic;
$size-alert: 1rem;

.container {
  max-width: 900px;
  margin-top: 8rem;
  background-color: rgb(206, 221, 235);
  opacity: 0.85;
  padding: 30px 30px 30px 30px;
  border-radius: 5%;
  margin-bottom: 40px;
  box-shadow: 10px 7px 7px 0px rgba(0, 0, 0, 0.4);
}

.category {
  height: 32px;
}

input {
  height: 45px;
}

.btn {
  height: 45px;
}

#category {
  color: $alert-color;
  margin: -2.8em 0 0 30em;
  position: $alert-position;
  font-style: $font-alert;
  font-size: $size-alert;
}

#title {
  color: $alert-color;
  margin: -3em 0 0 30em;
  position: $alert-position;
  font-style: $font-alert;
  font-size: $size-alert;
}

#photo {
  color: $alert-color;
  margin: -4em 0 0 30em;
  position: $alert-position;
  font-style: $font-alert;
  font-size: $size-alert;
}

#text {
  color: $alert-color;
  margin: -6em 0 0 30em;
  position: $alert-position;
  font-style: $font-alert;
  font-size: $size-alert;
}
