
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" (click)="setCategory('World')">World</a>
    <a class="p-2 link-secondary" (click)="setCategory('Technology')">Technology</a>
    <a class="p-2 link-secondary" (click)="setCategory('Design')">Design</a>
    <a class="p-2 link-secondary" (click)="setCategory('Culture')">Culture</a>
    <a class="p-2 link-secondary" (click)="setCategory('Business')">Business</a>
    <a class="p-2 link-secondary" (click)="setCategory('Opinion')">Opinion</a>
    <a class="p-2 link-secondary" (click)="setCategory('Science')">Science</a>
    <a class="p-2 link-secondary" (click)="setCategory('Health')">Health</a>
    <a class="p-2 link-secondary" (click)="setCategory('Style')">Style</a>
    <a class="p-2 link-secondary" (click)="setCategory('Travel')">Travel</a>
  </nav>
</div>

<div class="row d-flex">
  <div class="figure">
    <img class="photo" src="https://funart.pro/uploads/posts/2022-08/1660724922_16-funart-pro-p-skandinavskii-poluostrov-priroda-krasivo-f-17.jpg" alt="">
    <div class="text">
      <h1 class="display-4 fst-italic">Welcome to my first blog!</h1>
      <p class="lead my-3">In this blog, you can post photos and articles from various categories: world, technology, design, culture, health, style, travel etc.</p>

      <p class="lead mb-0"><a  class="text-white fw-bold" [routerLink]="['/reg']">Registration page...</a></p>
    </div>
  </div>

  <div class="common">

  <div *ngFor="let post of posts | sorting: category " class="col ">
    <div class="card shadow-sm" >

        <quill-view [content]="$any(post).photo" ></quill-view>

      <div class="card-body mb-3 ">
        <div class="ml-3 d-flex justify-content-between align-items-center">
            <strong class="mb-2 text-primary" >{{$any(post).category}}</strong>
          <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{$any(post).date | date: "short" }}</font></font></small>
        </div>
        <h4 class="ml-3">
          <a class="text-dark" style="text-decoration: none" [routerLink]="['post', post._id]">{{$any(post).title}}</a>
        </h4>
        <quill-view [content]="$any(post).text" ></quill-view>
      </div>
    </div>
  </div>



</div>

</div>

