
<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" href="#">World</a>
    <a class="p-2 link-secondary" href="#">Technology</a>
    <a class="p-2 link-secondary" href="#">Design</a>
    <a class="p-2 link-secondary" href="#">Culture</a>
    <a class="p-2 link-secondary" href="#">Business</a>
    <a class="p-2 link-secondary" href="#">Opinion</a>
    <a class="p-2 link-secondary" href="#">Science</a>
    <a class="p-2 link-secondary" href="#">Health</a>
    <a class="p-2 link-secondary" href="#">Style</a>
    <a class="p-2 link-secondary" href="#">Travel</a>
  </nav>
</div>

<div class="row d-flex">
  <div class="figure">
    <img class="photo" src="https://funart.pro/uploads/posts/2022-08/1660724922_16-funart-pro-p-skandinavskii-poluostrov-priroda-krasivo-f-17.jpg" alt="">
    <div class="text">
      <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="common">

  <div class="col ">
    <div class="card shadow-sm" >
      <img class="card-img-top" src="https://funart.pro/uploads/posts/2022-08/1660724922_16-funart-pro-p-skandinavskii-poluostrov-priroda-krasivo-f-17.jpg" alt="" >
      <div class="card-body mb-3 ">
        <div class="d-flex justify-content-between align-items-center">
            <strong class="mb-2 text-primary" >World</strong>
          <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
        </div>
        <h3>
          <a class="text-dark" style="text-decoration: none" href="#">Title</a>s
        </h3>
        <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, как естественное введение в дополнительный контент. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm" >
      <img class="card-img-top" src="https://funart.pro/uploads/posts/2022-08/1660724922_16-funart-pro-p-skandinavskii-poluostrov-priroda-krasivo-f-17.jpg" alt="" >
      <div class="card-body mb-3 ">
        <div class="d-flex justify-content-between align-items-center">
            <strong class="mb-2 text-primary" >World</strong>
          <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
        </div>
        <h3>
          <a class="text-dark" style="text-decoration: none" href="#">Title</a>s
        </h3>
        <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, как естественное введение в дополнительный контент. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm" >
      <img class="card-img-top" src="https://funart.pro/uploads/posts/2022-08/1660724922_16-funart-pro-p-skandinavskii-poluostrov-priroda-krasivo-f-17.jpg" alt="" >
      <div class="card-body mb-3 ">
        <div class="d-flex justify-content-between align-items-center">
            <strong class="mb-2 text-primary" >World</strong>
          <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
        </div>
        <h3>
          <a class="text-dark" style="text-decoration: none" href="#">Title</a>s
        </h3>
        <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, как естественное введение в дополнительный контент. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm" >
      <img class="card-img-top" src="https://funart.pro/uploads/posts/2022-08/1660724922_16-funart-pro-p-skandinavskii-poluostrov-priroda-krasivo-f-17.jpg" alt="" >
      <div class="card-body mb-3 ">
        <div class="d-flex justify-content-between align-items-center">
            <strong class="mb-2 text-primary" >World</strong>
          <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
        </div>
        <h3>
          <a class="text-dark" style="text-decoration: none" href="#">Title</a>s
        </h3>
        <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, как естественное введение в дополнительный контент. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm" >
      <img class="card-img-top" src="https://funart.pro/uploads/posts/2022-08/1660724922_16-funart-pro-p-skandinavskii-poluostrov-priroda-krasivo-f-17.jpg" alt="" >
      <div class="card-body mb-3 ">
        <div class="d-flex justify-content-between align-items-center">
            <strong class="mb-2 text-primary" >World</strong>
          <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
        </div>
        <h3>
          <a class="text-dark" style="text-decoration: none" href="#">Title</a>s
        </h3>
        <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, как естественное введение в дополнительный контент. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm" >
      <img class="card-img-top" src="https://funart.pro/uploads/posts/2022-08/1660724922_16-funart-pro-p-skandinavskii-poluostrov-priroda-krasivo-f-17.jpg" alt="" >
      <div class="card-body mb-3 ">
        <div class="d-flex justify-content-between align-items-center">
            <strong class="mb-2 text-primary" >World</strong>
          <small class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9 минут</font></font></small>
        </div>
        <h3>
          <a class="text-dark" style="text-decoration: none" href="#">Title</a>s
        </h3>
        <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это более широкая карточка со вспомогательным текстом ниже, как естественное введение в дополнительный контент. </font><font style="vertical-align: inherit;">Этот контент немного длиннее.</font></font></p>
      </div>
    </div>
  </div>

</div>

</div>

